

<ion-content [fullscreen]="true">
  <div class="header w-full bg-white fixed m-auto z-50">
    <img class="logo m-auto" src="../../../assets/icon/17a000c5831149f5baa5dc09f0dc096a.png" alt="">
  </div>
  <div class="list-container flex flex-col space-y-5 mt-20 mb-20">
    <div class="category-container">
      <label class="category flex-row">Meat and Seafood</label>
      <ion-list class="ingredient-list">
        <ng-container *ngFor="let item of myList">
          <ion-item *ngIf="meatsNSeafood(item)">
            {{item.ingredient}}
          </ion-item>
        </ng-container>
      </ion-list>
    </div>
    <div class="category-container">
      <label class="category flex-row">Deli and Bakery</label>
      <ion-list class="ingredient-list">
        <ng-container *ngFor="let item of myList">
          <ion-item *ngIf="deliNBakery(item)">
            {{item.ingredient}}
          </ion-item>
        </ng-container>
      </ion-list>
    </div>
    <div class="category-container">
      <label class="category flex-row">Grocery</label>
      <ion-list class="ingredient-list">
        <ng-container *ngFor="let item of myList">
          <ion-item *ngIf="grocery(item)">
            {{item.ingredient}}
          </ion-item>
        </ng-container>
      </ion-list>
    </div>
    <div class="category-container">
      <label class="category flex-row">Produce</label>
      <ion-list class="ingredient-list">
        <ng-container *ngFor="let item of myList">
          <ion-item *ngIf="produce(item)">
            {{item.ingredient}}
          </ion-item>
        </ng-container>
      </ion-list>
    </div>
    <div class="category-container">
      <label class="category flex-row">Cooking</label>
      <ion-list class="ingredient-list">
        <ng-container *ngFor="let item of myList">
          <ion-item *ngIf="cooking(item)">
            {{item.ingredient}}
          </ion-item>
        </ng-container>
      </ion-list>
    </div>
    <div class="category-container">
      <label class="category flex-row">Dairy</label>
      <ion-list class="ingredient-list">
        <ng-container *ngFor="let item of myList">
          <ion-item *ngIf="dairy(item)">
            {{item.ingredient}}
          </ion-item>
        </ng-container>
      </ion-list>
    </div>
  </div>
</ion-content>
