<ion-content [fullscreen]="true" *ngIf="!showIngredients">
  <ion-searchbar class="searchbar mx-auto" (keydown.enter)="findRecipe()" [(ngModel)]="dish" placeholder="Find Recipes You Love"></ion-searchbar>
  
  
    <div class="list-item" >
      <div class="recipe" *ngFor="let recipe of relevantResults; let i = index" (click)="selectedRecipe = recipe; getRecipeInfo(recipe.id)">

        <ion-card class="item">
          <ion-card-header>
            <ion-img class="recipe-image" [src]="recipe.image"></ion-img>
            <ion-label class="recipe-title">
              {{recipe.title}}
            </ion-label>
          </ion-card-header>
        
          <ion-card-content class="items-center">
            <div fxLayout="row" fxLayoutGap="10px">
              <div fxLayout="column" fxFlex="80px">
                <div>Calories: </div>
                <div>Carbs: </div>
                <div>Fat: </div>
                <div>Protein: </div>
              </div>
              <div fxLayout="column">
                <div>{{nutrition[i]?.calories}} </div>
                <div>{{nutrition[i]?.carbs}} </div>
                <div>{{nutrition[i]?.fat}} </div>
                <div>{{nutrition[i]?.protein}} </div>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
        
      </div>
    </div>

</ion-content>

<ion-content *ngIf="showIngredients">
  <app-recipe [ingredients]="ingredients" [nutrition]="nutrition" [recipeImage]="selectedRecipe.image" (backToRecipe)="getRecipe()"></app-recipe>
</ion-content>
