.input{
    background-color: #e9e9e9;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    margin-top: 5%;
    color: black;
}

.searchbar{
    position: fixed;
    z-index: 101;
}

::ng-deep .native-input.sc-ion-input-md {
    margin-left: 15px;
}

.list{
    background-color: white;
}

.recipe-image{
    width: 165px;
    border-radius: 5px;
}

.item{
    width: 165px;
}

.recipe{
    display: inline-flex;
}

:ng-deep img{
    border-radius: 2px;
}
.recipe-title{
    font-size: 18px;
    margin: 10px;
    white-space: normal;
}

.add-all-btn{
    margin: 10px;
}

.loading-spinner{
    margin-top: 18px;
    font-size: 1.5em;
    -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

.check{
    margin-top: 18px;
    font-size: 1.5em;
    color: green;
}

::ng-deep .searchbar-input.sc-ion-searchbar-md {
    border-radius: 15px;
    background-color: #f5f5f5;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

::ng-deep .searchbar-search-icon.sc-ion-searchbar-md, .searchbar-cancel-button.sc-ion-searchbar-md {
    margin-left: 35px;
}

::ng-deep .searchbar-clear-icon.sc-ion-searchbar-md {
    margin-right: 35px;
}

::ng-deep .recipe-image[_ngcontent-fue-c209] {
    margin-left: 0;
    margin-bottom: 0;
}

::ng-deep .ion-inherit-color{
    padding: 0;
}

.list-item{
    margin-left: 10px;
    margin-top: 75px;
}