.searchbar{
    position: fixed;
    z-index: 101;
}

.photos{
    height: 50%;
    background-color: #cccc;
}

.check{
    font-size: 1.5em;
    color: green;
}

.add-all-btn{
    z-index: 101;
    position: absolute;
    right: 0;
    margin: 15px;
}