<ion-header [translucent]="true">
  <ion-toolbar>
    <app-header (search)="search = $event" (dish)="searchRecipe($event, search)"></app-header>
  </ion-toolbar>
</ion-header>


<ng-container *ngIf="!listView" #Explore>
  <ion-content [fullscreen]="true" *ngIf="!showIngredients">  
    <ion-list>
      <ion-item *ngFor="let recipe of relevantResults; let i = index" (click)="assignId(recipe.id)">
        <div fxLayout="column">
          <div fxLayout="row">
            <ion-label class="recipe-title">
              {{recipe.title}}
            </ion-label>
          </div>
          <div fxLayout="row" fxLayoutGap="40px">
            <div fxLayout="column">
              <ion-img class="recipe-image" [src]="recipe.image"></ion-img>
            </div>
            <div fxLayout="row" fxLayoutGap="10px">
              <div fxLayout="column">
                <div>Calories: </div>
                <div>Carbs: </div>
                <div>Fat: </div>
                <div>Protein: </div>
              </div>
              <div fxLayout="column">
                <div>{{nutrition[i]?.calories}} </div>
                <div>{{nutrition[i]?.carbs}} </div>
                <div>{{nutrition[i]?.fat}} </div>
                <div>{{nutrition[i]?.protein}} </div>
              </div>
            </div>
          </div>
        </div>
        
      </ion-item>
      <!--app-message *ngFor="let message of getMessages()" [message]="message"></app-message-->
    </ion-list>
  </ion-content>
  
  <ion-content *ngIf="showIngredients">
    <ion-button class="add-all-btn" color="primary" (click)="addAllItems()">Add All Ingredients</ion-button>
    <ion-list>
      <ion-item *ngFor="let ingredient of ingredients">
        <p>{{ingredient}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ng-container>

<ng-container *ngIf="listView" #List>
  <app-list [items]="ingredients"></app-list>
</ng-container>

